* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    color: #fff;

}
nav:hover{
    background-color: #000 ;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;

}

.menu a {
    text-decoration: none;
    width: 25%;
    color: #fff;
    text-shadow: 2px 1px 5px black;
    margin: 30px 0 20px 0;
    font-weight: bold;
}
 nav .menu a:first-child{
    color:#00b894;


}

.logo {
    width: 30%;
    padding-left: 70px;
    box-sizing: border-box;



}

.logo h1 {
    margin: 30px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;

}

section {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

main h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    font-weight: bold;
}

main h1 {
    margin: 25px 0 15px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    word-spacing: 2px;
}

main p {
    margin: 25px 0 25px 0;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

main a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    /* text-shadow: 1px 1px 1px black; */

}

main .btn1{
    color: #000;
    background-color:#fff ;
}
main .btn1:hover{
    color: #fff;
    background-color:#00b894 ;
}

main .btn2{
    color: #fff;
    background-color:#00b894 ;
}
main .btn2:hover{
    color: #000;
    background-color:#fff ;
}
.change_content{
    padding-left: 7px;
    box-sizing: border-box;
}
.change_content:after{
content: '';
animation: change 10s infinite linear;
color: #00b894;
}
@keyframes change{
    0%{content: "Karachi";}
    20%{content: "Lahore";}
    40%{content: "Peshawar";}
    60%{content: "Quetta";}
    80%{content: "Multan";}
    100%{content: "Hyderabad";}
}